.admin-login-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe6ee;
}

.admin-card {
  background: white;
  padding: 30px 35px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 350px;
}

.admin-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d81b60;
}

.admin-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.admin-card label {
  font-weight: 600;
  font-size: 14px;
}

.admin-card input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.admin-card input:focus {
  border-color: #d81b60;
}

.admin-card button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #d81b60;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.admin-card button:hover {
  background: #ad164c;
}
