.saree-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  width: 230px;
  margin: 15px;
}

.saree-card img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.saree-card {
  position: relative;
}
.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s;
}

.wishlist-icon.active {
  transform: scale(1.2);
}
.wishlist-btn {
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.wishlist-btn:hover {
  transform: scale(1.2);
}

