.auth-wrapper {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffeef3;
}

.auth-card {
  width: 350px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #e10062;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #444;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #e10062;
}

.auth-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #e10062;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.auth-btn:hover {
  opacity: 0.9;
}

.switch-text {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.switch-text span {
  color: #e10062;
  cursor: pointer;
  margin-left: 3px;
}
